SECRET_KEY=changez-moi-en-production-avec-une-cle-aleatoire
DATABASE_URL=sqlite:///irva.db
ADMIN_PASSWORD=irva2025!
MAIL_SERVER=ssl0.ovh.net
MAIL_PORT=465
MAIL_USERNAME=noreply@veau-aveyron.fr
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=noreply@veau-aveyron.fr
ADMIN_EMAIL=contact@irva.fr
