SECRET_KEY=changez-moi-en-production-avec-une-cle-aleatoire
DATABASE_URL=sqlite:///irva.db
ADMIN_PASSWORD=irva2025!
MAIL_SERVER=localhost
MAIL_PORT=25
MAIL_USE_SSL=false
MAIL_USE_TLS=false
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=noreply@veau-aveyron.fr
ADMIN_EMAIL=contact@irva.fr
PREFERRED_URL_SCHEME=https
