Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
Flask-Login==0.6.3
Flask-Mail==0.10.0
WTForms==3.1.2
SQLAlchemy==2.0.30
Werkzeug==3.0.3
openpyxl==3.1.2
xhtml2pdf==0.2.16
svglib<1.6
Pillow==10.3.0
python-dotenv==1.0.1
